*/**/__pycache__/
/data/AMASS_test/*
/data/AMASS_test_aggregated/*
/data/AMASS_test_aggregated_sliced/*
demo_motion/renders/*
demo_motion/motions/*
runs/*
dataset/*
demo_image/experiments/*
renders/*
motions/*